body{
  background-color:#CEE5D0;
}
hr{
  border-top:none;
  border-right:none;
  border-left:none;
  border-bottom:thick dotted grey;
  height: 0;
  width: 5%;
}
h1{
  color:#D8B384
}
h3{
  color:#D8B384
}
